html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__title {
  color: #f03000;
  text-transform: uppercase;
  margin: 36px 0 50px 0;
}
@media screen and (min-width: 480px) {
  .header__title {
    margin: 56px 0;
  }
}

.tabs__items {
  padding-left: 0;
  margin: 0;
}
.tabs__item {
  display: inline-block;
  padding: 0 5px 50px 5px;
}
.tabs__link {
  color: #f03000;
  text-decoration: none;
}
.tabs--active {
  background-color: #f03000;
  color: #ffffff;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 780px) {
  .hero {
    grid-template-columns: repeat(3, 1fr);
  }
}
.hero__trip {
  position: relative;
  color: #fff;
}
.hero__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__info {
  padding-left: 10px;
}
.hero__info h2 {
  font-size: 18px;
  padding-bottom: 23px;
}
.hero__description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-bottom: 21px;
}
.hero__price {
  display: inline-block;
  background-color: #f03000;
  padding: 10px;
}
@media screen and (min-width: 480px) {
  .hero--main {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 780px) {
  .hero--main {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media screen and (min-width: 480px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 780px) {
  .services {
    grid-template-columns: repeat(4, 1fr);
  }
}
.services__box {
  display: flex;
  background-color: #f0f0f0;
  margin-top: 10px;
}
.services__img {
  width: 40px;
}
.services__title {
  color: #f03000;
}

@media screen and (min-width: 480px) {
  .lastminute__trips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (min-width: 780px) {
  .lastminute__trips {
    grid-template-columns: repeat(3, 1fr);
  }
}
.lastminute__trip {
  position: relative;
  color: #fff;
}
.lastminute__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.lastminute__info {
  padding-left: 10px;
}
.lastminute__info h2 {
  font-size: 18px;
  padding-bottom: 23px;
}
.lastminute__description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-bottom: 21px;
}
.lastminute__price {
  display: inline-block;
  background-color: #f03000;
  padding: 10px;
}
@media screen and (min-width: 480px) {
  .lastminute--main {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 780px) {
  .lastminute--main {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media screen and (min-width: 780px) {
  .news__all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.news__box {
  background-color: #f0f0f0;
}
.news__title {
  color: #f03000;
}

.footer__content {
  background-color: #444444;
  color: #ffffff;
  padding: 20px 0;
}/*# sourceMappingURL=style.css.map */