@import './variables';
@import './resets';

body {
  margin: 0;
  font-family: $font-primary;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
    margin: 36px 0 50px 0;

    @media screen and (min-width: 480px) {
      margin: 56px 0;
    }
    & a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
.tabs {
  &__items {
    padding-left: 0;
    margin: 0;
  }
  &__item {
    display: inline-block;
    padding: 0 5px 50px 5px;
  }
  &__link {
    color: $primary-color;
    text-decoration: none;
  }
  &--active {
    background-color: $primary-color;
    color: $white;
    padding: 20px;
  }
}
.hero {
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 780px) {
    grid-template-columns: repeat(3, 1fr);
  }
  &__trip {
    position: relative;
    color: #fff;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__info {
    padding-left: 10px;
    & h2 {
      font-size: 18px;
      padding-bottom: 23px;
    }
  }
  &__description {
    font-family: $font-secondary;
    font-size: 16px;
    padding-bottom: 21px;
  }
  &__price {
    display: inline-block;
    background-color: $primary-color;
    padding: 10px;
  }
  &--main {
    @media screen and (min-width: 480px) {
      grid-column: 1/-1;
    }
    @media screen and (min-width: 780px) {
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }
}
.services {
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 780px) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__box {
    display: flex;
    background-color: $gray-light;
    margin-top: 10px;
  }
  &__img {
    width: 40px;
  }
  &__title {
    color: $primary-color;
  }
}

.lastminute {
  &__trips {
    @media screen and (min-width: 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media screen and (min-width: 780px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__trip {
    position: relative;
    color: #fff;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__info {
    padding-left: 10px;
    & h2 {
      font-size: 18px;
      padding-bottom: 23px;
    }
  }
  &__description {
    font-family: $font-secondary;
    font-size: 16px;
    padding-bottom: 21px;
  }
  &__price {
    display: inline-block;
    background-color: $primary-color;
    padding: 10px;
  }
  &--main {
    @media screen and (min-width: 480px) {
      grid-column: 1/-1;
    }
    @media screen and (min-width: 780px) {
      grid-column: 1/3;
      grid-row: 1/3;
    }
  }
}

.news {
  &__all {
    @media screen and (min-width: 780px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  &__box {
    background-color: #f0f0f0;
  }
  &__title {
    color: $primary-color;
  }
}

.footer {
  &__content {
    background-color: $gray-dark;
    color: $white;
    padding: 20px 0;
  }
}

//--------------------lastminute.html--------------------
.text-page {
  & h1 {
    color: $primary-color;
    font-size: 36px;
  }
  &__photo {
    width: 100%;
  }
}

//--------------------destinace.html--------------------

.azure-moon {
  @media screen and (min-width: 780px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__image {
    & img {
      width: 100%;
    }
    @media screen and (min-width: 780px) {
      grid-column: 1/3;
    }
  }
  &__info {
    @media screen and (min-width: 480px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 780px) {
      grid-template-columns: auto;
      grid-column: 3/4;
    }
  }
  &__date,
  &__hotel,
  &__other {
    background-color: $grey-destination;
    padding: 5px 0;
    margin: 5px 0;

    @media screen and (min-width: 480px) {
      margin: 5px;
    }
  }
  &__date,
  &__hotel,
  &__other {
    & p {
      margin: 0;
    }
  }
  &__price {
    background-color: $primary-color;
    padding: 5px 0;
    color: $white;

    @media screen and (min-width: 480px) {
      margin: 5px;
    }
  }

  &__price {
    & p {
      margin: 0;
    }
  }
}
.azure-moon-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__photo {
    width: 100%;
  }
}
