$primary-color: #f03000;
$gray-light: #f0f0f0;
$gray: #80808080;
$gray-darker: #888888;
$gray-dark: #444444;
$white: #ffffff;
$transparent: #00000000;
$black: #000000;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$font-text-regular: 18px;
$font-text-news: 16px;
$font-image-big: 28px;
$font-image-small: 20px;
$font-section: 24px;

$gap: 20px;
