$primary-color: #f03000;
$gray-light: #f0f0f0;
$gray: #80808080;
$gray-darker: #888888;
$gray-dark: #444444;
$white: #ffffff;
$transparent: #00000000;
$black: #000000;
$grey-destination: #e5e5e5;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$font-text-regular: 18px;
$font-text-small: 16px;
$font-text-big: 28px;
$font-big: 36px;
$font-small: 14px;

$gap: 20px;
